{% extends 'public/base.html' %}
{% load static %}
{% block content %}

<div class="ps-checkout">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="/">Home</a></li>
            <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#"> Profile</a></li>
        </ul>
        <h3 class="ps-checkout__title"> {{request.user.email}}</h3>
        <div class="ps-checkout__content">
            {% comment %} <div class="ps-checkout__wapper">
                <p class="ps-checkout__text">Returning customer? <a href="my-account.html">Click here to login</a></p>
                <p class="ps-checkout__text">Have a coupon? <a href="shopping-cart.html">Click here to enter your code</a></p>
            </div> {% endcomment %}
            <form action="{% url 'accounts:user_public_profile_update' %}" method="post" id="e_profile_update_form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="ps-checkout__form">
                            <h3 class="ps-checkout__heading">Account Details</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Email address *</label>
                                        <input class="ps-input" type="email" id="e_profile_email" name="user_email" value="{% if request.user.email %}{{request.user.email}}{% else %}N/A{% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">First name *</label>
                                        <input class="ps-input" name="first_name" id="e_profile_first_name" type="text" value="{% if request.user.user_profile.first_name %}{{request.user.user_profile.first_name}}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Last name *</label>
                                        <input class="ps-input" name="last_name" id="e_profile_last_name" type="text" value="{% if request.user.user_profile.last_name %}{{request.user.user_profile.last_name}}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Other name</label>
                                        <input class="ps-input" name="other_name" id="e_profile_other_name" type="text" value="{% if request.user.user_profile.other_name %}{{request.user.user_profile.other_name}}{% endif %}">
                                    </div>
                                </div>
                                {% comment %} <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Company name (optional)</label>
                                        <input class="ps-input" type="text">
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Street address *</label>
                                        <input class="ps-input mb-3" type="text" placeholder="House number and street name">
                                        <input class="ps-input" type="text" placeholder="Apartment, suite, unit, etc. (optional)">
                                    </div>
                                </div> {% endcomment %}
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Phone *</label>
                                        <input class="ps-input" name="phone" id="e_profile_phone" type="text" value="{% if request.user.user_profile.phone %}{{request.user.user_profile.phone}}{% endif %}">
                                    </div>
                                </div>
                                {% comment %} <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Postcode *</label>
                                        <input class="ps-input" type="text">
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">County (optional)</label>
                                        <input class="ps-input" type="text">
                                    </div>
                                </div> {% endcomment %}
                                <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Address</label>
                                        <input class="ps-input" name="address" id="e_profile_address" type="text" value="{% if request.user.user_profile.address %}{{request.user.user_profile.address}}{% endif %}">
                                    </div>
                                </div>
                                
                                <div class="ps-form__submit">
                                    <button class="ps-btn ps-btn--rounded ps-btn--danger" type="submit">Update</button>
                                </div>
                                {% comment %} <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="create-account">
                                            <label class="form-check-label" for="create-account">Create an account?</label>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-12 ps-hidden" data-for="create-account">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label ps-label--danger">Create account password *</label>
                                        <div class="input-group">
                                            <input class="form-control ps-input" type="password" placeholder="Password">
                                            <div class="input-group-append"><a class="fa fa-eye-slash toogle-password" href="javascript: vois(0);"></a></div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="ship-address">
                                            <label class="form-check-label" for="ship-address">Ship to a different address?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 ps-hidden" data-for="ship-address">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">First name *</label>
                                                <input class="ps-input" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Last name *</label>
                                                <input class="ps-input" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Company name (optional)</label>
                                                <input class="ps-input" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Street address *</label>
                                                <input class="ps-input mb-3" type="text" placeholder="House number and street name">
                                                <input class="ps-input" type="text" placeholder="Apartment, suite, unit, etc. (optional)">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Town / City *</label>
                                                <input class="ps-input" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Postcode *</label>
                                                <input class="ps-input" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">County (optional)</label>
                                                <input class="ps-input" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-12">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Order notes (optional)</label>
                                        <textarea class="ps-textarea" rows="7" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ps-account">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8" id="register_form_view">
                    <form action="{% url 'accounts:user_public_change_password' %}" method="post" id="e_change_password_form">
                        {% csrf_token %}
                        <div class="ps-form--review">
                            <h2 class="ps-form__title">Password Change</h2>
                            {% if messages %}
                                {% for message in messages %}
                                    <label class="ps-form__label text-danger">{{message}} *</label>
                                {% endfor %}
                            {% endif %}
                            <div class="ps-form__group">
                                <label class="ps-form__label">Current password *</label>
                                <input class="form-control ps-form__input" type="password" name="old_password" id="e_current_password" required>
                            </div>
                            <div class="ps-form__group">
                                <label class="ps-form__label">Email address *</label>
                                <input class="form-control ps-form__input" type="password" name="new_password1" id="e_password" required>
                            </div>
                            <div class="ps-form__group">
                                <label class="ps-form__label">Password *</label>
                                <div class="input-group">
                                    <input class="form-control ps-form__input" type="password" name="new_password2" id="e_password_confirmation" required>
                                    <div class="input-group-append"><a class="fa fa-eye-slash toogle-password" href="javascript: vois(0);"></a></div>
                                </div>
                                <p class="ps-form__text">Hint: The password should be at least twelve characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & ).</p>
                            </div>
                            <div class="ps-form__submit">
                                <button class="ps-btn ps-btn--rounded ps-btn--danger" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://js.paystack.co/v1/inline.js"></script> 
<script>

function updateProfile(urlx){
    const email = $("#e_profile_email").val();
    const first_name = $("#e_profile_first_name").val();
    const last_name = $("#e_profile_last_name").val();
    const other_name = $("#e_profile_other_name").val();
    const phone = $("#e_profile_phone").val();
    const address = $("#e_profile_address").val();
    $.ajax({
        type:'POST',
        url:urlx,
        data: {
            'csrfmiddlewaretoken':'{{ csrf_token }}',
            "email":email,
            "first_name":first_name,
            "last_name":last_name,
            "other_name":other_name,
            "phone":phone,
            "address":address
        },
        headers:{"X-Requested-With": "XMLHttpRequest"},
        success: (res)=>{
            if(res.message =='success'){
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Profile Updated',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
            else{
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Update Failed',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        },
        error:(err)=>{
            console.log(err)
        }
    })  
}

$( "#e_profile_update_form" ).submit(function( event ) {
    event.preventDefault();
    url = $(this).attr("action");
    updateProfile(url)
});

function changePassword(urlx){
    const old_password = $("#e_current_password").val();
    const new_password1 = $("#e_password").val();
    const new_password2 = $("#e_password_confirmation").val();
    $.ajax({
        type:'POST',
        url:urlx,
        data: {
            'csrfmiddlewaretoken':'{{ csrf_token }}',
            "old_password":old_password,
            "new_password1":new_password1,
            "new_password2":new_password2,
        },
        headers:{"X-Requested-With": "XMLHttpRequest"},
        success: (res)=>{
            if(res.message =='success'){
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Password Updated',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
            else{
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Update Failed',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        },
        error:(err)=>{
            console.log(err)
        }
    })   
}

$( "#e_change_password_form" ).submit(function( event ) {
    event.preventDefault();
    url = $(this).attr("action");
    changePassword(url)
});

</script>
{% endblock js %}