{% extends 'public/base.html' %}
{% load static %}
{% block content %}

<div class="ps-shopping">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="/">Home</a></li>
            <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#">Shopping cart</a></li>
        </ul>
        <h3 class="ps-shopping__title" id="cart_items_number">Shopping cart<span class="badge">{{cart_count}}</span></h3>
        <div class="ps-shopping__content">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <ul class="ps-shopping__list">
                        <!--Mobile view list begins here-->
                        {% for item in cart_items %}
                        <li>
                            <div class="ps-product ps-product--wishlist">
                                <div class="ps-product__remove">
                                    <a href="#" id="delete_cart_item" data-href={{item.id}}>
                                        <img src="{% static 'public/img/icon/close.svg' %}" alt=""/>
                                    </a>
                                </div>
                                <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                        <figure><img class="ps-product__image-default" src="{{item.image}}" alt="alt" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="ps-product__content">
                                    <h5 class="ps-product__title"><a href="product-1.html">{{item.product}}</a></h5>
                                    <div class="ps-product__row">
                                        <div class="ps-product__label">Price:</div>
                                        <div class="ps-product__value"><span class="ps-product__price">${{item.ticket}}</span>
                                        </div>
                                    </div>
                                    <div class="ps-product__row">
                                        <div class="ps-product__label">Qty:</div>
                                        <div class="ps-product__value"><span class="ps-product__price">{{item.quantity}}</span>
                                        </div>
                                    </div>
                                    {% comment %} <div class="ps-product__row ps-product__stock">
                                        <div class="ps-product__label">Stock:</div>
                                        <div class="ps-product__value"><span class="ps-product__in-stock">In Stock</span>
                                        </div>
                                    </div> {% endcomment %}
                                    <div class="ps-product__cart"> <a class="ps-btn ps-btn--rounded ps-btn--dark" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                                    </div>
                                    {% comment %} <div class="ps-product__row ps-product__quantity">
                                        <div class="ps-product__label">Quantity:</div>
                                        <div class="ps-product__value">
                                            <div class="def-number-input number-input safari_only">
                                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="{% static 'public/img/icon/minus.svg' %}" alt="" /></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="{% static 'public/img/icon/plus.svg' %}" alt="" /></button>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                    <div class="ps-product__row ps-product__subtotal">
                                        <div class="ps-product__label">Subtotal:</div>
                                        <div class="ps-product__value">${{item.price}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <!--Mobile view list ends here-->
                    </ul>
                    <div class="ps-shopping__table">
                        <table class="table ps-table ps-table--product" id="cart_info">
                            <thead>
                                <tr>
                                    <th class="ps-table__product">Product</th>
                                    <th class="ps-table__meta">Price</th>
                                    <th class="ps-table__quantity">Quantity</th>
                                    <th class="ps-table__subtotal">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Web view list starts here-->
                                {% for item in cart_items %}
                                <tr>
                                    <td class="ps-table__product">
                                        <div class="ps-table__box">
                                            <div class="ps-table__remove"> 
                                                <a href="javascript:void(0)" id="delete_cart_item_web" data-href="{{item.id}}"><img src="{% static 'public/img/icon/close.svg' %}" alt=""></a></div>
                                            <div class="ps-product ps-product--standard">
                                                <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                                        <figure><img class="ps-product__image-default" src="{{item.image}}" alt="alt" />
                                                        </figure>
                                                    </a>
                                                    <div class="ps-product__actions">
                                                        <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                                        <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                                        <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                                    </div>
                                                    <div class="ps-product__badge">
                                                    </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                                                </div>
                                                <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="{% static 'public/img/icon/cart.svg' %}" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                                <div class="ps-product__content">
                                                    <h5 class="ps-product__title"><a href="product-1.html">{{item.product}}</a></h5>
                                                    {% comment %} <p class="ps-product__selected">Black, M</p> {% endcomment %}
                                                    <div class="ps-product__meta"><span class="ps-product__price">${{item.ticket}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="ps-table__meta"> <span class="ps-table__price">${{item.ticket}}</span>
                                    </td>
                                    <td class="ps-table__meta"> <span class="ps-table__price">{{item.quantity}}</span>
                                    </td>
                                    {% comment %} <td class="ps-table__quantity">
                                        <div class="def-number-input number-input safari_only">
                                            <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="{% static 'public/img/icon/minus.svg' %}" alt=""></button>
                                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                                            <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="{% static 'public/img/icon/plus.svg' %}" alt=""></button>
                                        </div>
                                    </td> {% endcomment %}
                                    <td class="ps-table__subtotal"> <span class="ps-table__price">${{item.price}}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                                <!--Web view list ends here-->
                            </tbody>
                        </table>
                    </div>
                    <div class="ps-shopping__footer">
                        {% comment %} <div class="ps-shopping__coupon">
                            <input class="form-control ps-input" type="text" placeholder="Coupon code"><a class="ps-shopping__action" href="#">Apply </a>
                        </div> {% endcomment %}
                        <div class="ps-shopping__button"><a class="ps-shopping__action" href="{% url 'main_site:items' %}">Update cart</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="ps-shopping__box" id="cart_summary">
                        <h3 class="ps-title">Cart totals</h3>
                        <div class="ps-shopping__row">
                            <div class="ps-shopping__label">Subtotal</div>
                            <div class="ps-shopping__price">${{total_payable}}</div>
                        </div>
                        <div class="ps-shopping__row">
                            <div class="ps-shopping__label">Miscellaneous</div>
                            <div class="ps-shopping__text">0</div>
                        </div>
                        <div class="ps-shopping__row" style="border-bottom: none;">
                            <div class="ps-shopping__label">Total</div>
                            <div class="ps-shopping__total">${{total_payable}}</div>
                        </div>
                        {% if cart_items %}
                        <div class="ps-shopping__checkout"><a class="ps-btn ps-btn--rounded ps-btn--dark" href="{% url 'main_site:checkout' %}">Proceed to checkout</a></div>
                        {% else %}
                        No items in cart for checkout.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    function deleteCartItem(cart_id){
        url = `/delete-cart/${cart_id}`
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                type:'GET',
                url:url,
                headers:{"X-Requested-With": "XMLHttpRequest"},
                success: (res)=>{
                    if(res.message =='success'){
                        $("#cart_info").load(location.href + " #cart_info");
                        $("#cart_summary").load(location.href + " #cart_summary");
                        $("#cart_items_number").load(location.href + " #cart_items_number");
                    }
                    else{
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Failed',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                    
                },
                error:(err)=>{
                    console.log(err)
                }
            })
          }
        })
    
    }

    $("#delete_cart_item").click(function(e) {
        deleteCartItem($(this).attr('data-href'))
    });

    $("#delete_cart_item_web").click(function(e) {
        deleteCartItem($(this).attr('data-href'))
    });
</script>
{% endblock js %}