{% extends 'public/base.html' %}
{% block content %}
<div class="ps-product--layout-1">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
            <li class="ps-breadcrumb__item"><a href="shop-list.html">Shop</a></li>
            <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#">Women</a></li>
        </ul>
        <div class="ps-product--detail">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="ps-product--gallery">
                        <div class="ps-gallery--image">
                            <div class="slide">
                                <div class="ps-gallery__item"><img src="img/products/3_dt_1.jpg" alt="alt" /></div>
                            </div>
                            <div class="slide">
                                <div class="ps-gallery__item"><img src="img/products/3_dt_2.jpg" alt="alt" /></div>
                            </div>
                            <div class="slide">
                                <div class="ps-gallery__item"><img src="img/products/3_dt_3.jpg" alt="alt" /></div>
                            </div>
                            <div class="slide">
                                <div class="ps-gallery__item"><img src="img/products/3_dt_4.jpg" alt="alt" /></div>
                            </div>
                        </div>
                        <div class="ps-product__thumbnail">
                            <div class="slide"><img src="img/products/3_dt_1.jpg" alt="alt" /></div>
                            <div class="slide"><img src="img/products/3_dt_2.jpg" alt="alt" /></div>
                            <div class="slide"><img src="img/products/3_dt_3.jpg" alt="alt" /></div>
                            <div class="slide"><img src="img/products/3_dt_4.jpg" alt="alt" /></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="ps-product__info">
                        <div class="ps-product__branch"><a href="#">Apple</a></div>
                        <h4 class="ps-product__title"><a href="product-1.html">Checkered shirt with long sleeves</a></h4>
                        <div class="ps-product__rating">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select><span class="ps-product__review">45 Reviews</span><a class="ps-product__write" href="#">Write a review</a>
                        </div>
                        <div class="ps-product__type">
                            <div class="ps-product__item"><span class="text">Product code</span><span class="text-bold">AA798D</span></div>
                            <div class="ps-product__item"><span class="text">Availability</span><span class="text-bold">3 in stock</span></div>
                        </div>
                        <div class="ps-product__meta"><span class="ps-product__price sale">$695.00</span><span class="ps-product__del">$2295.00</span>
                        </div>
                        <div class="ps-product__available">
                            <div class="ps-product__text">Hurry! Only 3 left in stock</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="ps-product__sale"> <img src="img/icon/fire.svg" alt="" />28 sold in last 24 hours</div>
                        </div>
                        <div class="ps-product__feature">
                            <div class="ps-product__group">
                                <h6>Color</h6>
                                <div class="ps-product__color">
                                    <div class="custom-control">
                                        <input class="custom-control-input" type="radio" name="color" value="Gray" id="color#5b6c8fundefined" />
                                        <label class="custom-control-label" for="color#5b6c8fundefined"> <img src="img/products/3_dt_1.jpg" alt="" /></label>
                                    </div>
                                    <div class="custom-control">
                                        <input class="custom-control-input" type="radio" name="color" value="Red" id="color#f00000undefined" />
                                        <label class="custom-control-label" for="color#f00000undefined"> <img src="img/products/3_dt_1.jpg" alt="" /></label>
                                    </div>
                                    <div class="custom-control">
                                        <input class="custom-control-input" type="radio" name="color" value="Black" id="color#313330undefined" />
                                        <label class="custom-control-label" for="color#313330undefined"> <img src="img/products/3_dt_1.jpg" alt="" /></label>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product__group">
                                <h6>Size</h6>
                                <div class="ps-product__size ps-select--feature">
                                    <div class="custom-control">
                                        <input class="custom-control-input" type="radio" name="size" value="L" id="sizeLundefined" />
                                        <label class="custom-control-label" for="sizeLundefined">L</label>
                                    </div>
                                    <div class="custom-control">
                                        <input class="custom-control-input" type="radio" name="size" value="M" id="sizeMundefined" />
                                        <label class="custom-control-label" for="sizeMundefined">M</label>
                                    </div>
                                    <div class="custom-control">
                                        <input class="custom-control-input" type="radio" name="size" value="S" id="sizeSundefined" />
                                        <label class="custom-control-label" for="sizeSundefined">S</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ps-product__quantity">
                            <h6>Quantity
                            </h6>
                            <div class="d-flex align-items-center">
                                <div class="def-number-input number-input safari_only">
                                    <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="img/icon/minus.svg" alt="" /></button>
                                    <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                    <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="img/icon/plus.svg" alt="" /></button>
                                </div><a class="ps-btn ps-btn--rounded ps-btn--dark" href="#" data-toggle="modal" data-target="#popupAddcartV2"> <img src="img/icon/cart.svg" alt="" />Add to cart</a>
                            </div>
                        </div><a class="ps-btn ps-btn--rounded ps-product__buy" href="shopping-cart.html">Buy it now</a>
                        <div class="ps-product__variations"><a class="ps-product__link" href="wishlist.html"> <i class="fa fa-heart-o"></i>Add to wishlist</a><a class="ps-product__link rotate" href="compare.html"> <i class="fa fa-align-left"> </i>Add to Compare</a><a class="ps-product__link" href="#"> <i class="fa fa-envelope-o"></i>Ask about product</a></div>
                        <div class="ps-product__social">
                            <ul class="ps-social">
                                <li><a class="ps-social__link facebook" href="#"><i class="fa fa-facebook"> </i><span class="ps-tooltip">Facebook</span></a></li>
                                <li><a class="ps-social__link instagram" href="#"><i class="fa fa-instagram"></i><span class="ps-tooltip">Instagram</span></a></li>
                                <li><a class="ps-social__link youtube" href="#"><i class="fa fa-youtube-play"></i><span class="ps-tooltip">Youtube</span></a></li>
                                <li><a class="ps-social__link pinterest" href="#"><i class="fa fa-pinterest-p"></i><span class="ps-tooltip">Pinterest</span></a></li>
                                <li><a class="ps-social__link linkedin" href="#"><i class="fa fa-linkedin"></i><span class="ps-tooltip">Linkedin</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ps-bought">
        <div class="container">
            <h3 class="ps-bought__title">Frequently bought together</h3>
            <div class="ps-bought__wapper">
                <ul class="ps-bought__product">
                    <li>
                        <div class="ps-product ps-product--standard">
                            <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                    <figure><img class="ps-product__image-default" src="img/products/2.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/5.jpg" alt="alt" />
                                    </figure>
                                </a>
                                <div class="ps-product__actions">
                                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                    <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                </div>
                                <div class="ps-product__badge">
                                </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                            </div>
                            <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                            <div class="ps-product__content">
                                <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins</a></h5>
                                <div class="ps-product__meta"><span class="ps-product__price sale">$100.52</span><span class="ps-product__del">$195.00</span>
                                </div>
                                <div class="ps-product__footer">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="radio" id="boughtTogether1Blackundefined" name="productOption" value="Black" />
                                        <label class="custom-control-label" for="boughtTogether1Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="radio" id="boughtTogether1Grayundefined" name="productOption" value="Gray" />
                                        <label class="custom-control-label" for="boughtTogether1Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="radio" id="boughtTogether1Redundefined" name="productOption" value="Red" />
                                        <label class="custom-control-label" for="boughtTogether1Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ps-product ps-product--standard">
                            <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                    <figure><img class="ps-product__image-default" src="img/products/11.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/14.jpg" alt="alt" />
                                    </figure>
                                </a>
                                <div class="ps-product__actions">
                                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                    <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                </div>
                                <div class="ps-product__badge">
                                </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                            </div>
                            <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                            <div class="ps-product__content">
                                <h5 class="ps-product__title"><a href="product-1.html">White short checkered T-shir...</a></h5>
                                <div class="ps-product__meta"><span class="ps-product__price sale">$15.52</span><span class="ps-product__del">$14.52</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ps-product ps-product--standard">
                            <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                    <figure><img class="ps-product__image-default" src="img/products/4.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/24.jpg" alt="alt" />
                                    </figure>
                                </a>
                                <div class="ps-product__actions">
                                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                    <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                </div>
                                <div class="ps-product__badge">
                                </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                            </div>
                            <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                            <div class="ps-product__content">
                                <h5 class="ps-product__title"><a href="product-1.html">Black leather skirt</a></h5>
                                <div class="ps-product__meta"><span class="ps-product__price">$17.99</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="ps-bought__content">
                    <ul class="ps-bought__list">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="product0" checked="checked">
                                <label class="form-check-label" for="product0"><span class="ps-bought__name">This Product: Short T-shirt with sequins </span>– <span class="ps-bought__del">$100.52</span><span class="ps-bought__price sale">$195.00</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="product1" checked="checked">
                                <label class="form-check-label" for="product1"><span class="ps-bought__name">White short checkered T-shir...  </span>– <span class="ps-bought__del">$15.52</span><span class="ps-bought__price sale">$14.52</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="product2" checked="checked">
                                <label class="form-check-label" for="product2"><span class="ps-bought__name">Black leather skirt  </span>– <span class="ps-bought__price">$17.99</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="ps-bought__submit">
                        <label>Buy selected for: </label>
                        <div class="ps-bought__total"> <span class="price">$695.00</span><span class="del">$2295.00</span></div><a class="ps-btn ps-btn--rounded ps-btn--dark" href="#"> <img src="img/icon/cart.svg" alt="">Add all to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ps-product--desc">
        <div class="container">
            <div class="ps-product__grid">
                <div class="ps-product__content">
                    <h2 class="ps-product__title">Tailored clothes available as in chain stores.</h2>
                    <p class="ps-product__subtitle">These settings don’t provide big changes but only some small css changes in spaces or borders for example.</p>
                    <p class="ps-product__text">Because we have many types of elements we created Live Editor for you so you can see live changes.</p>
                    <div class="ps-product__extent">
                        <div class="row">
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/delivery.svg" alt=""><span>Free delivery</span></div>
                            </div>
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/wallet.svg" alt=""><span>Money-back quarantee</span></div>
                            </div>
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/non-contact.svg" alt=""><span>Non-contact shipping</span></div>
                            </div>
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/security.svg" alt=""><span>Secure payments</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-product__thumbnail"><img src="img/product-desc.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <div class="ps-gallery">
        <div class="container">
            <div class="desktop-only">
                <div class="row">
                    <div class="col-12 col-md-6"><a class="ps-gallery__link" href="#"><img src="img/promotion/banner-14.jpg" alt=""></a></div>
                    <div class="col-12 col-md-6">
                        <div class="row ps-gallery__images">
                            <div class="col-6"><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram1.jpg" alt=""></a></div>
                            <div class="col-6"><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram2.jpg" alt=""></a></div>
                            <div class="col-6"><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram3.jpg" alt=""></a></div>
                            <div class="col-6"><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram4.jpg" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-only">
                <div class="owl-carousel" data-owl-auto="false" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="10" data-owl-nav="false" data-owl-dots="true" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on"><a class="ps-gallery__link" href="#"><img src="img/promotion/banner-14.jpg" alt=""></a><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram1.jpg" alt=""></a><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram2.jpg" alt=""></a><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram3.jpg" alt=""></a><a class="ps-gallery__link" href="#"><img src="img/instagram/instagram4.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <section class="ps-section--default ps-section--review-product">
        <div class="container">
            <h3 class="ps-section__title">Customers reviews</h3>
            <div class="ps-section__content">
                <div class="ps-section__header">
                    <select class="ps-rating" data-read-only="true">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected="selected">4</option>
                        <option value="5">5</option>
                    </select><span class="ps-section__text">45 Review </span><a class="ps-section__toggle" href="#">Write a review</a>
                </div>
                <div class="ps-form--review">
                    <div class="ps-form__title">Write a review</div>
                    <div class="ps-form__desc">Your email address will not be published. Required fields are marked *</div>
                    <form action="https://nouthemes.net/html/yobazar/do_action" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="ps-form__label">Your rating *</label>
                                <select class="ps-rating--form" data-value="0">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="ps-form__label">Name *</label>
                                <input class="form-control ps-form__input">
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="ps-form__label">Email *</label>
                                <input class="form-control ps-form__input">
                            </div>
                            <div class="col-12">
                                <div class="ps-form__block">
                                    <label class="ps-form__label">Your review *</label>
                                    <textarea class="form-control ps-form__textarea"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="ps-btn ps-btn--rounded ps-btn--dark">Add Review</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ps-section__review">
                    <div class="ps-review--product"><a class="ps-review__report" href="#">Report as inappropriate</a>
                        <div class="ps-review__actions"> <a class="ps-review__action" href="#">Edit</a><a class="ps-review__action" href="#">Reply</a></div>
                        <div class="ps-review__row">
                            <div class="ps-review__rating">
                                <select class="ps-rating" data-read-only="true">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="ps-review__info"> <span class="ps-review__name">Jenna S.</span><span class="ps-review__date">Oct 30, 2021</span></div>
                            <div class="ps-review__content">
                                <h5 class="ps-review__title">Very nice product</h5>
                                <p class="ps-review__desc">Everything is perfect. I would recommend!</p>
                            </div>
                        </div>
                    </div>
                    <div class="ps-review--product"><a class="ps-review__report" href="#">Report as inappropriate</a>
                        <div class="ps-review__actions"> <a class="ps-review__action" href="#">Edit</a><a class="ps-review__action" href="#">Reply</a></div>
                        <div class="ps-review__row">
                            <div class="ps-review__rating">
                                <select class="ps-rating" data-read-only="true">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="ps-review__info"> <span class="ps-review__name">John M.</span><span class="ps-review__date">Oct 30, 2021</span></div>
                            <div class="ps-review__content">
                                <h5 class="ps-review__title">Percect!!!!</h5>
                                <p class="ps-review__desc">I ordered on Friday evening and on Monday at 12:30 the package was with me. I have never encountered such a fast order processing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ps-review--product"><a class="ps-review__report" href="#">Report as inappropriate</a>
                        <div class="ps-review__actions"> <a class="ps-review__action" href="#">Edit</a><a class="ps-review__action" href="#">Reply</a></div>
                        <div class="ps-review__row">
                            <div class="ps-review__rating">
                                <select class="ps-rating" data-read-only="true">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="ps-review__info"> <span class="ps-review__name">Monica B.</span><span class="ps-review__date">Oct 30, 2021</span></div>
                            <div class="ps-review__content">
                                <h5 class="ps-review__title">OMG I LOVE IT!!!</h5>
                                <p class="ps-review__desc">There was a small mistake in the order. In return, I got the correct order and I could keep the wrong one for myself. I ordered on Friday evening and on Monday at 12:30 the package was with me. I have never encountered such a fast order processing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ps-review--product"><a class="ps-review__report" href="#">Report as inappropriate</a>
                        <div class="ps-review__actions"> <a class="ps-review__action" href="#">Edit</a><a class="ps-review__action" href="#">Reply</a></div>
                        <div class="ps-review__row">
                            <div class="ps-review__rating">
                                <select class="ps-rating" data-read-only="true">
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="ps-review__info"> <span class="ps-review__name">Ann R.</span><span class="ps-review__date">Oct 30, 2021</span></div>
                            <div class="ps-review__content">
                                <h5 class="ps-review__title">Everything is perfect. I would recommend!</h5>
                                <p class="ps-review__desc">Everything is perfect. I would recommend!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-pagination">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="ps-section--default ps-product--carousel">
        <div class="container">
            <h3 class="ps-section__title">New Arrivals</h3>
            <div class="ps-section__carousel">
                <div class="owl-carousel" data-owl-auto="false" data-owl-loop="false" data-owl-speed="13000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/1.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/12.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                                <div class="ps-badge ps-badge--sale">-70%</div>
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price sale">$38.39</span><span class="ps-product__del">$53.99</span>
                            </div>
                            <div class="ps-product__footer">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival1Redundefined" name="productOption" value="Red" />
                                    <label class="custom-control-label" for="arrival1Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival1Blackundefined" name="productOption" value="Black" />
                                    <label class="custom-control-label" for="arrival1Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/2.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/23.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">Raw denim short with sequins</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price">$69.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/3.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/3_1.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                                <div class="ps-badge ps-badge--sold">Sold Out</div>
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">White short checkered T-shirt & skirt</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price sale">$119.39</span><span class="ps-product__del">$110.99</span>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/4.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/24.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                                <div class="ps-badge ps-badge--hot">Hot</div>
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">Women's flax dress pump</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price">$125.00 - $129.00</span>
                            </div>
                            <div class="ps-product__footer">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival3Greenundefined" name="productOption" value="Green" />
                                    <label class="custom-control-label" for="arrival3Greenundefined" style="--bg-color: #023f6c"><span style="--bg-color: #023f6c"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival3Yellowundefined" name="productOption" value="Yellow" />
                                    <label class="custom-control-label" for="arrival3Yellowundefined" style="--bg-color: #f4b240"><span style="--bg-color: #f4b240"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival3Redundefined" name="productOption" value="Red" />
                                    <label class="custom-control-label" for="arrival3Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/11.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/40.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">Travel handle totte bags</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price">$185.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/14.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/11.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">Women's jet set travel</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price">$185.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/7.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/16.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">Dark blue classic long sleeves shirt</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price">$89.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product ps-product--standard">
                        <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                <figure><img class="ps-product__image-default" src="img/products/38.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/44.jpg" alt="alt" />
                                </figure>
                            </a>
                            <div class="ps-product__actions">
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="ps-product__badge">
                                <div class="ps-badge ps-badge--sale">-70%</div>
                            </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                        </div>
                        <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                        <div class="ps-product__content">
                            <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                            <div class="ps-product__meta"><span class="ps-product__price sale">$200.00</span><span class="ps-product__del">$195.00</span>
                            </div>
                            <div class="ps-product__footer">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival8Blackundefined" name="productOption" value="Black" />
                                    <label class="custom-control-label" for="arrival8Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival8Grayundefined" name="productOption" value="Gray" />
                                    <label class="custom-control-label" for="arrival8Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" id="arrival8Redundefined" name="productOption" value="Red" />
                                    <label class="custom-control-label" for="arrival8Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}