{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<div class="ps-product--layout-1">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="/">Home</a></li>
            <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="{% url 'main_site:product_detail' id %}">{{name}}</a></li>
        </ul>
        <div class="ps-product--detail">
        </div>
    </div>
    <section class="ps-product--desc">
        <div class="container">
            <div class="ps-product__grid">
                <div class="ps-product__content">
                    <h2 class="ps-product__title" href-id="{{id}}" href-ticket="{{ticket_price}}" id="details_page_product">Product: {{name}}</h2>
                    <h3><p class="ps-product__subtitle">Posted by: Owner of product</p></h3>
                    <h4>
                        <p class="ps-product__text">{{description}}</p>
                        <p class="ps-product__text text-{% if status %}success{% else %}danger{% endif %}">{{status}}</p>
                        <p class="ps-product__text">Ticket Price: GHC {{ticket_price}}</p>
                    </h4>
                    <hr>
                    <div class="wrap-modal-slider container-fluid ps-quickview__body">
                        <div class="ps-product--detail">
                            <div class="ps-product__info">
                                <div class="ps-product__quantity">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-6">
                                            <div class="def-number-input number-input safari_only" style="width:125px;">
                                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="{% static 'public/img/icon/minus.svg'%}" alt="" /></button>
                                                <input class="quantity" min="0" name="quantity" value="{{quantity}}" type="number" id="cart_product_quantity_details_page"/>
                                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="{% static 'public/img/icon/plus.svg'%}" alt="" /></button>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6">
                                            {% if request.user.is_authenticated %}
                                            <a class="ps-btn ps-btn--rounded ps-btn--dark" data-target="#popupAddcartV2" style="margin-left:0px;width:120px;" id="addToCartDetailsPage">
                                                <img src="{% static 'public/img/icon/cart.svg'%}" alt="" />Add
                                            </a>
                                            {% else %}
                                            Login to buy ticket
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="ps-product__extent">
                        <div class="row">
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/delivery.svg" alt=""><span>Free delivery</span></div>
                            </div>
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/wallet.svg" alt=""><span>Money-back quarantee</span></div>
                            </div>
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/non-contact.svg" alt=""><span>Non-contact shipping</span></div>
                            </div>
                            <div class="col-6">
                                <div class="ps-product__item"><img src="img/icon/security.svg" alt=""><span>Secure payments</span></div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="ps-product__thumbnail"><img src="{{image}}" alt=""></div>
            </div>
        </div>
    </section>
    <div class="ps-gallery">
        <div class="container">
            <div class="desktop-only">
                <div class="row">
                    {% comment %} <div class="col-12 col-md-6"><a class="ps-gallery__link" href="#"><img src="{{image}}" alt=""></a></div> {% endcomment %}
                    <div class="col-12 col-md-12">
                        <div class="row ps-gallery__images">
                            {% if images %}
                                {% for img in images %}
                                <div class="col-6"><a class="ps-gallery__link" href="#"><img src="{{img.url}}" alt=""></a></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-only">
                <div class="owl-carousel" data-owl-auto="false" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="10" data-owl-nav="false" data-owl-dots="true" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
                    {% if images %}
                        {% for img in images %}
                        <a class="ps-gallery__link" href="#">
                            <img src="{{img.url}}" alt="">
                        </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
$('#addToCartDetailsPage').click(function() {
    var id = $("#details_page_product").attr('href-id');
    var ticket_price = $("#details_page_product").attr('href-ticket');
    var qty = $("#cart_product_quantity_details_page").val()
    var price = parseFloat(ticket_price) * parseInt(qty)
    $.ajax({
        type:'POST',
        url:`/add-cart-item/${id}`,
        data: {
            'csrfmiddlewaretoken':'{{ csrf_token }}',
            'quantity':qty,
            'price':price,
        },
        headers:{"X-Requested-With": "XMLHttpRequest"},
        success: (res)=>{
            if(res.message =='success'){
                getCartItems()
            }
            else{
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Failed to add to cart',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
            
        },
        error:(err)=>{
            console.log(err)
        }
    })
})
</script>
{% endblock script %}