{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<div class="ps-shop ps-shop--grid">
    {% comment %} <div class="ps-shop__banner"><img src="{% static 'public/img/banners/banner-category' %}.jpg" alt=""></div> {% endcomment %}
    <div class="container">
        <ul class="ps-breadcrumb">
            {% comment %} <li class="ps-breadcrumb__item"><a href="/">Home</a></li> {% endcomment %}
            <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#">{% if category %}{{category}}{% else %}Home{% endif %}</a></li>
        </ul>
        <div class="row">
            <div class="col-12 col-lg-3">
                <h3 class="ps-shop__name">{% if category %}{{category}} {% elif meta %} Search Results For "{{meta}}" {% else %}Browse Items{% endif %} </h3>
                <input type="hidden" value="{% if category %}{{cart_id}}{% endif %}" id="cart_id_value">
            </div>
            <div class="col-12 col-lg-9">
                {% if not meta and not category %}
                <div class="ps-wrapper--mobile">
                    <a class="ps-wrapper__action filter shop-filter" href="#">
                        <img class="icon-funnel" src="{% static 'public/img/icon/filter.svg' %}" alt="">
                        <img class="icon-cross" src="{% static 'public/img/icon/close-red' %}.svg" alt="">Filters
                    </a>
                    {% comment %} <a class="ps-wrapper__action" href="#">
                        <img class="icon-sort-alpha-asc" src="{% static 'public/img/icon/down-arrow' %}.svg" alt="">Sory by name: A-Z
                    </a> {% endcomment %}
                </div>
                {% endif %}
                <div class="ps-wrapper" style="display: none;"><a class="ps-wrapper__filter shop-filter" href="#"><img class="icon-funnel" src="{% static 'public/img/icon/filter.svg' %}" alt=""><img class="icon-cross" src="{% static 'public/img/icon/close-red' %}.svg" alt="">Filters</a>
                    {% comment %} <div class="ps-wrapper__type"> <a href="shop-list.html"><img src="{% static 'public/img/icon/bars.svg' %}" alt></a><a href="shop-promo.html"><img src="{% static 'public/img/icon/gird2.svg' %}" alt></a><a href="shop-slidebar.html"><img src="{% static 'public/img/icon/gird3.svg' %}" alt></a><a class="active" href="shop-grid.html"><img src="{% static 'public/img/icon/gird4.svg' %}" alt></a></div> {% endcomment %}
                    {% comment %} <div class="ps-wrapper__onsale">
                        <form>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="onSaleProduct">
                                <label class="custom-control-label" for="onSaleProduct">Show only active items</label>
                            </div>
                        </form>
                    </div> {% endcomment %}
                    <div class="ps-wrapper__sort">
                        <form>
                            <span>Sort by</span>
                            <select class="form-select" id="filter_products">
                                <option selected value="all">All</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                                <option value="lowest">Lowest</option>
                                <option value="highest">Highest</option>
                                {% comment %} <option value="Price: low to high">Price: low to high</option>
                                <option value="Price: high to low">Price: high to low</option> {% endcomment %}
                            </select>
                        </form>
                    </div>
                    {% comment %} <div class="ps-wrapper__show">
                        <form><span>Show</span>
                            <select class="form-select">
                                <option selected>12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="48">48</option>
                            </select>
                        </form>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="ps-shop__content">
            <div class="ps-shop__filter" id="filter-content">
                <div class="ps-widget ps-widget--product">
                    <div class="ps-widget__block">
                        <div class="ps-widget__content">
                            <ul class="menu--mobile">
                                <li><a href="#" onclick="getActiveProducts('all')">All</a></li>
                                <li><a href="#" onclick="getActiveProducts('active')">Active</a></li>
                                <li><a href="#" onclick="getActiveProducts('inactive')">Inactive</a></li>
                                <li><a href="#" onclick="getActiveProducts('lowest')">Lowest</a></li>
                                <li><a href="#" onclick="getActiveProducts('highest')">Highest</a></li>
                                {% comment %} <li>
                                    <a href="#">Underwear</a><span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
                                    <ul class="sub-menu">
                                        <li><a href="#">Bikini</a></li>
                                        <li><a href="#">Casual</a></li>
                                        <li><a href="#">Modern</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Jackets &amp; Coats</a></li>
                                <li><a href="#">Loungewear</a></li>
                                <li><a href="#">Men</a><span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
                                    <ul class="sub-menu">
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Suits</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Swimwear</a></li>
                                        <li><a href="#">Loungewear</a></li>
                                        <li><a href="#">T-shirts</a></li>
                                        <li><a href="#">Polo shirts</a></li>
                                        <li><a href="#">Tracksuits</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Trousers</a></li>
                                        <li><a href="#">Shorts</a></li>
                                        <li><a href="#">Underwear</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Women</a><span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
                                    <ul class="sub-menu">
                                        <li><a href="#">Coats &amp; Jackets</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Lingerie</a></li>
                                        <li><a href="#">Loungewear</a></li>
                                        <li><a href="#">Shorts</a></li>
                                        <li><a href="#">Skirts</a></li>
                                        <li><a href="#">Suits</a></li>
                                        <li><a href="#">Swimwear</a></li>
                                        <li><a href="#">Tops</a></li>
                                        <li><a href="#">Trousers</a></li>
                                    </ul>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                    </div>
                    <div class="ps-widget__block">
                        <h4 class="ps-widget__title">Color</h4><a class="ps-block-control" href="#"><i class="fa fa-angle-down"></i></a>
                        <div class="ps-widget__content">
                            <div class="ps-widget__color">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="colorGray">
                                    <label class="custom-control-label" for="colorGray" style="--bg-color: #5b6c8f"><span style="--bg-color: #5b6c8f"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="colorGreen">
                                    <label class="custom-control-label" for="colorGreen" style="--bg-color: #12a05c"><span style="--bg-color: #12a05c"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="colorRed">
                                    <label class="custom-control-label" for="colorRed" style="--bg-color: #f00000"><span style="--bg-color: #f00000"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="colorYellow">
                                    <label class="custom-control-label" for="colorYellow" style="--bg-color: #ff9923"><span style="--bg-color: #ff9923"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="colorBlack">
                                    <label class="custom-control-label" for="colorBlack" style="--bg-color: #313330"><span style="--bg-color: #313330"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="colorBlue">
                                    <label class="custom-control-label" for="colorBlue" style="--bg-color: #58c8ec"><span style="--bg-color: #58c8ec"></span></label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="colorNavy">
                                    <label class="custom-control-label" for="colorNavy" style="--bg-color: #103178"><span style="--bg-color: #103178"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ps-widget__block">
                        <h4 class="ps-widget__title">Brands</h4><a class="ps-block-control" href="#"><i class="fa fa-angle-down"></i></a>
                        <div class="ps-widget__content">
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="Apple">
                                    <label class="custom-control-label" for="Apple">Apple</label>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="Blackberry">
                                    <label class="custom-control-label" for="Blackberry">Blackberry</label>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="Ford">
                                    <label class="custom-control-label" for="Ford">Ford</label>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="Garmin">
                                    <label class="custom-control-label" for="Garmin">Garmin</label>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="Houzz">
                                    <label class="custom-control-label" for="Houzz">Houzz</label>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="HumbleBundle">
                                    <label class="custom-control-label" for="HumbleBundle">HumbleBundle</label>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="iHeartRadio">
                                    <label class="custom-control-label" for="iHeartRadio">iHeartRadio</label>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="Ikea">
                                    <label class="custom-control-label" for="Ikea">Ikea</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ps-widget__block">
                        <h4 class="ps-widget__title">Ratings</h4><a class="ps-block-control" href="#"><i class="fa fa-angle-down"></i></a>
                        <div class="ps-widget__content">
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="rating5">
                                    <label class="custom-control-label" for="rating5"> </label>
                                    <div class="custom-label">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5" selected="selected">5</option>
                                        </select><span>(246)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="rating4">
                                    <label class="custom-control-label" for="rating4"> </label>
                                    <div class="custom-label">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4" selected="selected">4</option>
                                            <option value="5">5</option>
                                        </select><span>(100)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="rating3">
                                    <label class="custom-control-label" for="rating3"> </label>
                                    <div class="custom-label">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3" selected="selected">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select><span>(45)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="rating2">
                                    <label class="custom-control-label" for="rating2"> </label>
                                    <div class="custom-label">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="2" selected="selected">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select><span>(20)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-widget__item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="rating1">
                                    <label class="custom-control-label" for="rating1"> </label>
                                    <div class="custom-label">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1" selected="selected">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select><span>(5)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-shop__product">
                <div class="row infinite-container-products" id="ajax_products">
                    {% for product in products %}
                    <div class="col-8 col-md-4 col-lg-3 infinite-item" style="margin-left:60px;">
                        <div class="ps-product ps-product--standard">
                            <div class="ps-product__thumbnail"><a class="ps-product__image" href="{% url 'main_site:product_detail' product.id %}">
                                    <figure><img class="ps-product__image-default" src="{{product.image}}" alt="alt" style="height:10cm;"/>
                                        <img class="ps-product__image-back" src="{{product.image}}" alt="alt" />
                                    </figure>
                                </a>
                                <div class="ps-product__actions">
                                    {% comment %} <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div> {% endcomment %}
                                    {% comment %} <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div> {% endcomment %}
                                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view">
                                        <a href="#" data-toggle="modal" data-target=".popupQuickviewz" id="web_view_modal_details" data-href="{{product.id}}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ps-product__badge">
                                    {% if product.status %}
                                    <div class="ps-badge ps-badge--sale">Available</div>
                                    {% else %}
                                    <div class="ps-badge ps-badge--sold">Sold Out</div>
                                    {% endif %}
                                </div>
                                {% comment %} <a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a> {% endcomment %}
                            </div>
                            <div class="ps-product__mobile">
                                {% comment %} <a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart">
                                <img src="{% static 'public/img/icon/cart.svg' %}" alt="" />
                                </a> {% endcomment %}
                                {% comment %} <a class="ps-product__item" href="wishlist.html">
                                    <i class="fa fa-heart-o"></i>
                                </a> {% endcomment %}
                                <a class="ps-product__item"  data-toggle="modal" data-target=".popupQuickviewz" id="mob_view_modal_details" data-href="{{product.id}}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="ps-product__content">
                                <h5 class="ps-product__title"><a href="{% url 'main_site:product_detail' product.id %}">{{product.name}}</a></h5>
                                <div class="ps-product__meta"><span class="ps-product__price sale">${{product.ticket_price}}</span><span class="ps-product__del"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        {% if page_obj.has_next %}
                        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                        {% endif %}
                        <div class="d-flex justify-content-center" style="display:none;">
                        <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popupQuickviewz" id="" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ps-quickview">
        <div class="modal-content">
            <div class="modal-body">
                <div class="wrap-modal-slider container-fluid ps-quickview__body">
                    <button class="close ps-quickview__close btn-sm" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="ps-product--detail">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="row">
                                   <div class="card" >
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" id="product_galleries">
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="ps-product__info">
                                    <h4 class="ps-product__title mt-3"><a href="product-1.html" id='product_name'></a></h4>
                                    <div class="ps-product__meta"><span class="ps-product__price sale" id="product_ticket_price"></span>
                                    </div>
                                    <div class="" id="product_description"></div>
                                    
                                    <div class="ps-product__quantity">
                                        <h6>Status<span id="product_status"> in stock</span>
                                        </h6>
                                        <div class="">
                                            <div class="def-number-input number-input safari_only" style="width:120px;">
                                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="{% static 'public/img/icon/minus.svg'%}" alt="" /></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number" id="cart_product_quantity"/>
                                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="{% static 'public/img/icon/plus.svg'%}" alt="" /></button>
                                            </div><br>
                                            {% if request.user.is_authenticated %}
                                            <a class="ps-btn ps-btn--rounded ps-btn--dark" data-target="#popupAddcartV2" style="margin-left:0px;width:120px;" id="addToCart"> 
                                                <img src="{% static 'public/img/icon/cart.svg'%}" alt="" />Add
                                            </a>
                                            {% else %}
                                            Login to buy ticket
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block script %}
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container-products')[0],
        handler: function(direction) {
        
        },
        offset: 'bottom-in-view',
        onBeforePageLoad: function () {
        $('.spinner-border').show();
        },
        onAfterPageLoad: function () {
        $('.spinner-border').hide();
        }
      }) 
</script>
<script>
    function getProductDetails(product_id) {
        const cart_list = document.getElementById('cart_list')
        const product_name = document.getElementById('product_name')
        const product_ticket_price = document.getElementById('product_ticket_price')
        const product_description = document.getElementById('product_description')
        const product_status = document.getElementById('product_status')
        const product_galleries = document.getElementById('product_galleries')
        $.ajax({
          type: "GET",
          url:`/get-product-details/${product_id}`,
          headers:{"X-Requested-With": "XMLHttpRequest"},
          success: (res)=>{
              if(res.message =='success'){
                  const data = res.data;
                  product_name.innerHTML = data.name
                  product_ticket_price.innerHTML = data.ticket_price
                  product_description.innerHTML = data.description
                  product_status.innerHTML = data.status
                  $('#addToCart').attr('data-href', product_id);
                  $('#addToCart').attr('cart-href', data.ticket_price);
                  const images = data.images;
                  if(Array.isArray(images)){
                  images.forEach(function callback(image, index) {
                    let active = (index == 0) ? " active" : "";	
                        product_galleries.innerHTML = 
                            `
                            <div class="carousel-item ${active}">
                                <img src="${image.url}" class="d-block w-100" alt="..." style="height:10cm;">
                            </div>
                            `;
                  });
                  }else{
                  }
              } 
          },
          error:(err)=>{
            console.log(err)
          }
        })
    }
    
    function getActiveProducts(status) {
        const ajax_products = document.getElementById('ajax_products')
        var cart_id = $("#cart_id_value").val()
        var urlx = `/get-active-status/${status}/${cart_id}`
        var html = ''
        $.ajax({
            type: "GET",
            url:urlx,
            headers:{"X-Requested-With": "XMLHttpRequest"},
            success: (res)=>{
                if(res.message =='success'){
                    ajax_products.innerHTML = ``
                    const data = res.data;
                    if(Array.isArray(data)){
                    data.forEach(function callback(product, index) {
                        if(product.status){
                            html = '<div class="ps-badge ps-badge--sale">Available</div>'
                        }else{
                            html = '<div class="ps-badge ps-badge--sold">Sold Out</div>'
                        }
                        ajax_products.innerHTML += 
                              `
                              <div class="col-8 col-md-4 col-lg-3 infinite-item" style="margin-left:60px;">
                                <div class="ps-product ps-product--standard">
                                    <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                            <figure><img class="ps-product__image-default" src="${product.image}" alt="alt" style="height:10cm;"/>
                                                <img class="ps-product__image-back" src="${product.image}" alt="alt" />
                                            </figure>
                                        </a>
                                        <div class="ps-product__actions">
                                            {% comment %} <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div> {% endcomment %}
                                            <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view" onclick="getProductDetails(${product.id})">
                                                <a href="#" data-toggle="modal" data-target=".popupQuickviewz">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ps-product__badge">
                                            ${html}
                                        </div>
                                        {% comment %} <a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a> {% endcomment %}
                                    </div>
                                    <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart">
                                        <img src="{% static 'public/img/icon/cart.svg' %}" alt="" /></a>
                                        <a class="ps-product__item "  data-toggle="modal" data-target=".popupQuickviewz" onclick="getProductDetails(${product.id})">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                    <div class="ps-product__content">
                                        <h5 class="ps-product__title"><a href="product-1.html">${product.name}</a></h5>
                                        <div class="ps-product__meta"><span class="ps-product__price sale">${product.ticket_price}</span><span class="ps-product__del"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              `;
                    });
                    }else{
                    }
                } 
            },
            error:(err)=>{
                console.log(err)
            }
          })
    }

    $("#web_view_modal_details").click(function(e) {
        getProductDetails($(this).attr('data-href'))
    });

    $("#mob_view_modal_details").click(function(e) {
        getProductDetails($(this).attr('data-href'))
    });

    $("#filter_products").change(function(e) {
        getActiveProducts(e.target.value)
    });

</script>
{% endblock script %}
{% endblock content %}
