{% extends 'public/base.html' %}
{% load static %}
{% block content %}

<div class="ps-checkout">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="/">Home</a></li>
            <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#"> User registration</a></li>
        </ul>
        <div class="ps-checkout__content">
            {% comment %} <div class="ps-checkout__wapper">
                <p class="ps-checkout__text">Returning customer? <a href="my-account.html">Click here to login</a></p>
                <p class="ps-checkout__text">Have a coupon? <a href="shopping-cart.html">Click here to enter your code</a></p>
            </div> {% endcomment %}
            <form action="" method="post" id="register_form">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <label class="ps-form__label text-danger">{{message}} *</label>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="ps-checkout__form">
                            <h3 class="ps-checkout__heading">Register</h3>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Username *</label>
                                        <input class="ps-input" type="text" id="email" name="username" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">First name *</label>
                                        <input class="ps-input" name="first_name" id="first_name" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Last name *</label>
                                        <input class="ps-input" name="last_name" id="last_name" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Other name</label>
                                        <input class="ps-input" name="other_name" id="other_name" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Phone *</label>
                                        <input class="ps-input" name="phone" id="phone" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Address</label>
                                        <input class="ps-input" name="address" id="address" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Email address *</label>
                                        <input class="ps-input" type="email" id="email" name="email" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ps-checkout__group">
                                        <label class="ps-checkout__label">Password</label>
                                        <input class="ps-input" name="password" id="password" type="password" value="">
                                    </div>
                                </div>
                                <div class="ps-form__submit">
                                    <button class="ps-btn ps-btn--rounded ps-btn--danger" type="submit">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ps-account">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8" id="register_form_view">
                    <form action="{% url 'accounts:user_public_change_password' %}" method="post" id="e_change_password_form">
                        {% csrf_token %}
                        <div class="ps-form--review">
                            <h2 class="ps-form__title">Password Change</h2>
                            {% if messages %}
                                {% for message in messages %}
                                    <label class="ps-form__label text-danger">{{message}} *</label>
                                {% endfor %}
                            {% endif %}
                            <div class="ps-form__group">
                                <label class="ps-form__label">Current password *</label>
                                <input class="form-control ps-form__input" type="password" name="old_password" id="e_current_password" required>
                            </div>
                            <div class="ps-form__group">
                                <label class="ps-form__label">New Password *</label>
                                <input class="form-control ps-form__input" type="password" name="new_password1" id="e_password" required>
                            </div>
                            <div class="ps-form__group">
                                <label class="ps-form__label">Confirm Password *</label>
                                <div class="input-group">
                                    <input class="form-control ps-form__input" type="password" name="new_password2" id="e_password_confirmation" required>
                                    <div class="input-group-append"><a class="fa fa-eye-slash toogle-password" href="javascript: vois(0);"></a></div>
                                </div>
                                <p class="ps-form__text">Hint: The password should be at least twelve characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & ).</p>
                            </div>
                            <div class="ps-form__submit">
                                <button class="ps-btn ps-btn--rounded ps-btn--danger" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}