<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Test}}</title>
</head>
<body>
    <h2>
        <h1>Thanks for joining our platform</h1>
        <p><a href="{{ domain }}/user/activate/{{token}}">click to verify</a></p>
        <p>After clicking the link, you may be required to log in with the details you provided"
    </h2>
</body>
</html> 